.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #ffc9c9;
  border-top: 5px solid #c11f32;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  60% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}

.logo-image{
    width: 128px;
    height: 128px;
    border-radius: 100%;
    transition: transform 1.0s ease-out;
}